@use "../base/base" as *;
@use "../base/mixins" as *;

// Responsive Desktop. 
@media screen and (max-width: 1400px) {
  .banner-inner-text {
    .get-started {
      width: 182px;
    }
  }
  .menu-item-list a {
    padding: 10px 18px;
  }
  .nav-contact {
    gap: 146px;
  }
  .testimonials {
    p {
      font-size: 12px;
    }
  }
  .card-inner-box {
    .get-started {
      width: 154px;
    }
  }
  .banner-text-info {
    margin-top: 200px;
    margin-left: 82px;
  }

  .blogs-wrapper {
    gap: 100px;
  }
}
@media screen and (max-width: 1320px) {
  .menu-item-list a {
    padding: 10px 14px;
  }
  .nav-contact {
    gap: 46px;
  }
  .events-header {
    h2 {
      span {
        width: 336px;
      }
    }
  }
  .blogs-wrapper {
    gap: 60px;
  }
  .blog-inner-card {
    width: 700px;
  }
}