@use "../base/base" as *;
@use "../base/mixins" as *;
@use "../state/mobile" as *;

// Responsive for Galaxy Fold Vertical.
@media screen and (max-width: 300px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .container {
    max-width: 270px;
  }

  ul.flex-center.menu-item-list.open {
    padding: 0;
  }

  .hero-banner {
    background: rgb(255, 238, 207);
  }

  .secondary-navbar {
    .nav-contact {
      gap: 18px;
      .nav__contact-details {
        width: 100px;
        a {
          font-size: 10px;
        }
      }
    }
    .get-started {
      width: 25%;
      padding: 0 11px;
      margin-right: 4px;
    }
  }
  .banner-text-box {
    height: 100%;
  }
  .banner-inner-text {
    margin-top: 6%;
    .get-started {
      padding: 3px 5px;
      width: 100px;
    }
    h1 {
      width: 90%;
      font-size: 18px;
    }
  }
  .banner-text-info {
    width: 12%;
    padding-right: 0;
    margin-left: 14px;
    margin-right: 0;
    margin-bottom: -8%;
  }
  .counts {
    .learn-more {
      width: 100px;
    }
  }
  .client-header h5 span {
    width: 125%;
  }
  .animated-logo {
    left: 24px;
    bottom: 24%;
  }
  .centerlogo {
    height: 50px;
    width: 50px;
  }
  .logoborder {
    height: 84px;
    width: 84px;
    left: -17px;
    bottom: -13px;
  }
  .projects-cards-wrap .card-inner-box {
    padding: 14px 12px;

    .get-started {
      width: 100px;
      padding: 12px 14px;
    }
    h4 {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .projects-cards-wrap .card-inner-box {
    padding: 14px 12px;
  }
  .blogs-image {
    height: 226px;
    width: 226px;
  }
  .blog-info {
    position: absolute;
    bottom: -112px;
    left: 0px;
    right: 72px;
    a {
      padding: 6px;
      font-weight: 400;
      width: 100px;
    }
  }
  .blogs-title {
    font-size: 14px;
    line-height: 18px;
  }
  .publication-date {
    bottom: 42px;
    right: 18px;
    font-size: 16px;
  }
  .other-details {
    .details {
      gap: 48px;

      p {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
  .testimonials-inner {
    h2 {
      width: 92%;
      padding: 8px 4px;
      margin-left: 34px;
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 20px;
    }
  }
  .person {
    width: 50%;
  }
  .card-inner {
    width: 186px;

    &::before {
      width: 156px;
      // left: -8px;
    }
  }
  .contactus {
    gap: 11px;
    padding: 38px 18px;

    .contact-btn-primary {
      padding: 12px 18px;
    }
    .contact-btn-secondary {
      padding: 10px 18px;
    }
  }

  .events-box {
    padding: 18px 30px;
    h4 {
      font-size: 12px;
      line-height: 14px;
    }

    h5 {
      &::after {
        transform: translate(90px, -18px);
        border-top: 1px solid black;
      }
    }
    .events-inner-box {
      justify-content: flex-start;
      gap: 0px;
      padding-left: 24px;

      h3 {
        line-height: 18px;
        font-size: 16px;
      }
    }
  }
  .events-header h2 span {
    width: 110%;
  }
  .event-date {
    line-height: 18px;
    letter-spacing: -0.84px;
    width: 50px;
    // padding: 12px;

    span {
      font-size: 26px;
      line-height: 26px;
    }
  }
  .footer-region {
    margin-top: 46px;
  }
  .newsletter {
    margin-left: 0;
  }
  .newsletter form input[type="email"] {
    padding: 10px 10px;
    width: 124px;
  }
  .btn-default {
    padding: 8px 12px;
  }
  .brand-logo {
    height: 40px;
  }

  
  .donations-inner-box {
    width: 230px;
    .donation-image, .donation-info {
      width: 230px;
    }
  }
  .donation-info .blogs-info-inner-box {
    padding: 18px;
    padding-top: 30px;
  }
  .donate {
    padding: 12px 8px
  }
  .donation-figures {
    .details-inner-box {
       p{
        font-size: 12px;
        line-height: 14px;
       }
      span {
        font-size: 12px;
      }
    }
  }
  .tab-menu ul li a {
    padding: 7px 2px;
  }
}
