@use "../base/base" as *;
@use "../base/mixins" as *;
@use "../state/tablet" as *;
// Responsive for Galaxy Fold Horizontal.
@media screen and (max-width: 720px) {
  .banner-inner-text {
    margin-top: 0;
    h1 {
      width: 88%;
      font-size: 26px;
    }
    .get-started {
      width: 36%;
    }
  }
  .banner-text-info {
    padding-right: 56px;
    padding-left: 0;
    margin-right: 27px;
    margin-top: 158px;
    margin-left: 0;
  }
  .special-inner-text-box {
    padding-left: 40px;
  }
  .counts {
    padding-left: 40px;
  }
}

// Responsive for Galaxy Fold Horizontal Flip Landscape Window.
@media screen and (max-width: 653px) {
  .secondary-navbar {
    .get-started {
      width: 76px;
      margin-right: 0;
    }
  }
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .banner-inner-text {
    .get-started {
      width: 124px;
    }
  }
  .banner-text-info {
    margin-right: 80px;
    margin-top: 162px;
  }
  .counts {
    width: 80%;
  }
}