@use "../base/base" as *;
@use "../base/mixins" as *;
@use "../state/tablet" as *;
// Responsive for Galaxy Fold Horizontal.
@media screen and (max-width: 720px) {
  .banner-inner-text {
    margin-top: 32%;
    h1 {
      width: 88%;
      font-size: 26px;
    }
    .get-started {
      width: 36%;
    }
  }
  .banner-text-info {
    padding-right: 6%;
    padding-left: 0;
    margin-right: 15%;
    margin-top: 42%;
    margin-left: 0;
  }
}

// Responsive for Galaxy Fold Horizontal Flip Landscape Window.
@media screen and (max-width: 653px) {
  .secondary-navbar {
    .get-started {
      width: 17%;
      margin-right: 34px;
    }
  }
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .banner-inner-text {
    .get-started {
      width: 42%;
    }
  }
  .banner-text-info {
    margin-right: 0;
    margin-top: 72%;
  }
  .counts {
    width: 80%;
  }
}