@use "../base/base" as *;
@use "../base/mixins" as *;


// Responsive Desktop. 
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .primary-navbar {
    gap: 60px;
  }
  .primary-menu {
    gap: 64px;
  }
  .menu-item-list a {
    padding: 12px;
    font-size: 14px;
  }
  .logo {
    height: 36px;
    width: 86px;
  }
  .nav-contact {
    gap: 60px;
  }
  .nav__contact-details {
    width: 160px;
    a {
      text-align: left;
      // font-size: 10px;
    }
  }
  .flex-wrap {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
  h5 {
    font-size: 14px;
  }
  p{
    font-size: 12px;
    line-height: 16px;
  }
  .counts {
    width: 62%;
    .learn-more {
      width: 112px;
      padding: 12px 12px;
    }
  }
  .count--section1, .count--section2 {
    gap: 100px;
  }
  .count-inner-box {
    h5 {
      font-size: 22px;
      line-height: 32px;
    }
  }
  .blogs-box {
    justify-content: center;
    gap: 144px;
    flex-wrap: wrap;
  }
  .blogs-inner-box {
    &:last-child:nth-child(odd) {
      padding-top: 90px;
    }
  }
  .banner-slider {
    height: 100vh;
  }
  .hero-banner {
    // height: calc(100dvh - 124px);
  }

  .banner-text-info {
    padding-right: 84px;
    padding-left: 0;
    margin-right: 0;
    width: 184px;
    margin-top: 268px;
    margin-left: 82px;
  }
  .get-started {
    width: 33%;
    font-size: 14px;
    font-size: 16px;
  }
  .banner-text-box {
    // margin-left: 100px;
  }
  .banner-inner-text {
    .get-started {
      margin-top: 26px;
      padding: 8px 10px;
      width: 28%;
    }
    h1 {
      width: 64%;
    }
  }
  .services-inner-item-box p {
    padding-bottom: 36px;
  }

  .contact  .get-started {
    width: 80%;
    padding: 24px 16px;
  }

  .testimonials-wrap {
    background-position: unset;
    margin-top: 200px;
  }
  .testimonials {
    p {
      font-size: 12px;
    }
  }
  .testimonials-inner {
    .arrow-left-testimonial {
      left: 3%;
    }
    .arrow-right-testimonial {
      right: 3%;
    }
  }
  .personal-details {
    h4 {
      font-size: 16px;
    }
  }
  .card-inner {
    padding: 70px 38px;
    width: 730px;
  }
  .card-inner-box {
    .get-started {
      width: 118px;
      padding: 12px 16px;
    }
  }
  .events-box {
    padding: 46px 54px;
  }
  .events-inner-box {
    h3 {
      width: 86%;
    }
  }
  .person {
    gap: 5px;
    img {
      height: 64px;
      width: 64px;
    }
  }
  .projects-header {
    margin-bottom: 0;
    margin-left: 77px;
  }
  .project-heading {
    padding: 40px 0;
    padding-left: 60px;
    width: 430px;
    margin-left: 18px;
  }
  .projects-cards-wrap {
    .card-inner-box {
      padding: 18px 44px;
      .get-started {
        width: 120px;
      }
    }
  }
  .other-details {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
  }
  .testimonials-wrap {
    margin: 100px 0;
    margin-top: 200px;
  }
  .testimonials-inner {
    h2 {
      padding-bottom: 28px;
    }
  }

  .contactus {
    gap: 28px;
    padding: 80px 255px;
    margin: 36px 0;
  }

  .social-icons {
    padding-top: 16px;
  }
  .footer-region {
    gap: 56px;
    flex-wrap: wrap;
    a {
      line-height: 50px;
      font-size: 18px;
    }
  }
  .newsletter {
    margin-left: 0;
    // width: 50%;

    &::before {
      transform: translate(116px,30px);
    }
  }



  .donation-banner {
    gap: 30px;
  }
  .donation-child-text-box {
    padding-left: 80px;
  }
  .donations-box {
    justify-content: center;
    // gap: 70px;
    flex-wrap: wrap;
  }
  .donations-inner-box {
    width: 430px;
    &:last-child:nth-child(odd) {
      // padding-top: 90px;
      align-items: center;

      .donation-image, .donation-info {
        // width: 50%;
      }
    }
  }
  .donation-figures {
    gap: 0;
  }
  .donation-info {
    .blogs-info-inner-box {
      padding: 26px;
    }
  }
  .blogs-wrapper {
    gap: 10px;
    flex-wrap: wrap !important;
  }
  .blogs-sidebar-wrapper {
    padding: 34px 22px;
  }
}
