@use "../base/base" as *;
@use "../base/mixins" as *;


// Responsive for small laptop.
@media screen and (max-width: 1080px) {
  .container {
    max-width: 960px;
  }
  .primary-navbar {
    gap: 54px;
  }
  .primary-menu {
    gap: 54px;
  }
  .menu-item-list a {
    padding: 12px;
    font-size: 12px;
  }
  .logo {
    height: 36px;
    width: 86px;
  }
  .nav-contact {
    gap: 60px;
  }
  .nav__contact-details {
    width: 160px;
    a {
      text-align: left;
      // font-size: 10px;
    }
  }
  .flex-wrap {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
  h5 {
    font-size: 14px;
  }
  p{
    font-size: 12px;
    line-height: 16px;
  }
  .counts {
    width: 62%;
    .learn-more {
      width: 114px;
      padding: 12px 12px;
    }
  }
  .count--section1, .count--section2 {
    gap: 100px;
  }
  .count-inner-box {
    h5 {
      font-size: 22px;
      line-height: 32px;
    }
  }
  .blogs-box {
    justify-content: center;
    gap: 144px;
    flex-wrap: wrap;
  }
  .banner-slider {
      .slick-dots {
        margin: 6px 0!important;
    }
    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }
  }
  .hero-banner {
    height: calc(100dvh - 124px);
    background-position:  0 10px;
  }
  .get-started {
    width: 33%;
    font-size: 14px;
    font-size: 16px;
  }
  .banner-text-box {
    margin-left: 100px;
  }
  .banner-inner-text {
    .get-started {
      margin-top: 26px;
      padding: 8px 10px;
      width: 28%;
    }
    h1 {
      width: 64%;
    }
  }
  .banner-text-info {
    padding-right: 0;
    padding-left: 150px;
    margin-right: 0;
    width: 238px;
    margin-top: 273px;
    margin-left: -193px;
  }
  .services-inner-item-box {
    padding: 28px 58px;
    // p {
    //   padding-bottom: 36px;
    // }
  }

  .special {
    gap: 0;
  }
  .mapbg {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .client-header {
    h5 {
      span {
        width: 26%;
      }
    }
  }

  .contact  .get-started {
    width: 80%;
    padding: 24px 16px;
  }

  .testimonials-wrap {
    background-position: unset;
    margin-bottom: 30px;
  }
  .testimonials {
    p {
      font-size: 12px;
    }
  }
  .testimonials-inner {
    .arrow-left-testimonial {
      left: -5%;
    }
    .arrow-right-testimonial {
      right: -5%;
    }
  }
  .personal-details {
    h4 {
      font-size: 16px;
    }
  }
  .card-inner {
    padding: 70px 38px;
    width: 730px;
  }
  .card-inner-box {
    .get-started {
      width: 56%;
      padding: 12px 16px;
    }
  }
  .events-box {
    padding: 46px 62px;
    padding-right: 48px;
  }
  .events-inner-box {
    width: 100%;

    h3 {
      width: 100%;
    }
  }
  .person {
    gap: 5px;
    img {
      height: 64px;
      width: 64px;
    }
  }
  .projects-header {
    margin-bottom: 0;
  }

  .projects-cards-wrap {
    .card-inner-box {
      padding: 30px 20px;

      h4 {
        font-size: 24px;
        line-height: 36px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .project-heading {
    padding: 40px 0;
    padding-left: 54px;
  }
  .other-details {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
  }
  .testimonials-inner {
    h2 {
      padding-bottom: 28px;
    }
  }

  .contactus {
    gap: 28px;
    padding: 80px 22%;
    margin: 36px 0;
  }

  .social-icons {
    padding-top: 16px;
  }
  .footer-region {
    gap: 76px;
    flex-wrap: wrap;
    a {
      line-height: 50px;
      font-size: 18px;
    }
  }
  .newsletter {
    margin-left: 0;
  }
}

@media screen and (min-width:1020px) and (min-height: 1030px) {
  .hero-banner {
    background-position: center !important;
  }
  .banner-text-info {
    margin-left: -62px;
  }
}