@use "../base/base" as *;
@use "../base/mixins" as *;

// Responsive for Tablet.
@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .banner-slider {
    margin-top: -124px;
    height: 100vh;
    .slick-track {
      height: 100%;
    }
    .slick-list {
      height: 100%;
    }
    .hero-banner {
      height: 100%;
      background-position: 54% 12px;
    }
  }
  .primary-navbar {
    padding: 10px 0;
    justify-content: space-between;
  }
  .secondary-navbar {
    padding: 14px 0;
    padding-top: 0;
    display: block;
    .get-started {
      width: 85px;
      padding: 0 2.3%;
      font-size: 14px;
      margin-right: 0;
    }
    .nav-contact {
      display: flex;

      img {
        height: 30px;
        width: 30px;
      }

      .nav-contactus {
        justify-content: flex-start;
      }
    }
    .nav__contact-details {
      padding-left: 6px;
      a {
        font-size: 12px
      }
    }
  }
  
  .banner-text-box {
    height: 100%;
    width: 54%;
  }
  .banner-text-info {
    padding-right: 37px;
    padding-left: 95px;
    margin-right: -46px;
    margin-top: 242px;
    margin-left: -116px;
  }
  @include nav-slider;
  .menu-btn {
    right: 3%;
  }
  .logo {
    height: 35px;
    text-align: center;
  }
  .nav-contact {
    display: none;
  }
  .menu-items {
    ul {
      left: 37%;
    }
  }
  .banner-text-box {
    height: 100%;
    margin-left: 0;
  }
  .banner-inner-text {
    width: 100%;
    padding-top: 50px;
    .get-started {
      width: 28%;
      margin-top: 20px;
    }
    
    p {
      padding-bottom: 12px;
    }
  }

  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 34px;
    line-height: 42px;
}
  h2 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  p{
    font-size: 12px;
    line-height: 20px;
  }
  .get-started {
    width: 44%;
    padding: 5px 4px;
    font-size: 12px;
  }
  .services {
    padding: 52px 72px
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 20px;
    // gap: 28px;
  }
  .services-inner-item-box {
    width: 48%;
    flex: 48%;
    padding: 0 56px;
    h4 {
      padding-bottom: 12px;
    }
    p {
      padding-bottom: 14px;
    }
    a {
      font-size: 14px;
    }

    &:nth-child(-n+3) {
      padding-top: 20px;
    }
  }
  .services--children {
    .container {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .side-image {
    width: 50%;

    img {
      width: 100%;
    }
  }
  .special {
    justify-content: center;

    .mapbg {
      img {
        object-fit: cover;
      }
    }
  }
  .projects-cards-wrap {
    .card-inner-box {
      .get-started {
        width: 126px;
      }
    }
  }
  .blogs-wrap {
    margin-bottom: 120px;
  }
  .blogs-box {
    justify-content: center;
    gap: 216px;
  }
  .blogs-inner-box {
    &:last-child:nth-child(odd) {
      padding-top: 0;
    }
  }
  .counts {
    .learn-more {
      padding: 16px 32px;
      width: 130px;
    }
  }
  .count--section1,
  .count--section2 {
    flex-wrap: wrap;
    gap: 20px;
  }
  .clients a{
    padding-bottom: 70px;

    &:nth-child(3) {
      margin-left: -5px;
    }
  }
  .client-header {
    h5 {
      span {
        width: 266px;
      }
    }
  }


  .testimonials-wrap {
    margin: 72px 0;
    margin-top: 200px;
  }
  .testimonials-inner {
    .arrow-left-testimonial {
      left: -3%;
    }
    .arrow-right-testimonial {
      right: -3%;
    }
  }

  .testimonials {
    p {
      font-size: 12px;
    }
  }
  .personal-details {
    h4 {
      font-size: 16px;
    }
  }
  .testimonials-inner {
    padding: 26px 24px;
    gap: 20px;

    h2 {
      width: 90%;
      padding: 10px 17px;
      padding-bottom: 28px;
    }
  }
  .card-deck {
    // width: 96%;
    .slick-track {
      height: 400px;
    }
  }
  .slick-dotted.slick-slider {
    // margin-bottom: 0;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-inner {
    width: 84%;
    justify-content: center;
    // padding: 50px 38px;
    padding: 5%;

    &::before {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .card-inner-box {
    .get-started {
      width: 126px;
      padding: 12px 30px;
    }
  }
  .person {
    width: 100%;
    text-align: center;
    gap: 5px;
    border-right: none;
    img {
      height: 56px;
      width: 56px;
    }
  }

  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  .clients img {
    height: 80px;
    width: 80px;
  }
  .other-details {
    padding-top: 16px;
    padding-bottom: 12px;
    justify-content: flex-start;
    gap: 100px;
  }
  .publication-date {
    font-size: 18px;
    bottom: 24px;
  }

  .contactus {
    gap: 14px;
    padding: 80px 50px;
    margin: 16px 0;
  }

  .our-events {
    justify-content: center;
    gap: 40px;
  }

  .events-header h2 span {
    width: 246px;
  }
  .events-box {
    flex-wrap: nowrap;
  }
  .social-icons {
    padding-top: 10px;
    width: 70%;
  }
  .brand {
    img {
      height: 40px;
      width: 100px;
    }
  }
  .branding {
    width: 20%;
  }
  .pages {
    width: 20%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 20%;
  }
  .footer-contact {
    width: 30%;
  }
  .newsletter {
    margin-left: 0;
    // width: 60%;
    &::before {
      transform: translate(111px,31px);
    }
  }

  .footer-region {
    margin-top: 80px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 7px;
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }

  #slideout {
    width: 420px;
    form {
      width: 360px;
    }
    input[type="email"], textarea {
      width: 85%;
    }
  }
  @for $i from 1 through 11 {
    .pointer#{$i} {
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  .donation-banner {
    flex-direction: column-reverse !important;
  }
  .donation-child-text-box {
    // margin: 0 auto;
    // padding-top: 90px;
    width: 100%;
    // padding-left: 10%;
    // margin: 0 auto;
  }
  // .donation-header {
  //   padding-left: 10px;
  // }
  .donation-banner-image {
    height: 80vh;

    .mapbg {
    
        img {
          object-fit: contain;
        }
    }
  }
  .tab-container {
    margin-left: 0;
  }

  .contribution-inner {
    gap: 50px;
  }
  .donation-inner-card {
    // width: 50%;
    // flex: 50;
  }
  .donations-box {
    gap: 60px;
  }
  .donation-info .blogs-info-inner-box {
    padding: 10px;
}
.donations-inner-box {
  width: 400px;
  flex: 0;
  .donation-image, .donation-info {
    width: 400px;
  }
}
.donation-info .blogs-info-inner-box {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .nav-contact {
    .get-started {
      width: 78px;
      margin-right: 0;
    }
  }
  .menu-btn {
    right: 6%;
  }
  .banner-inner-text {
    padding-top: 85px;
  }
  .container {
    max-width: 720px;
  }
  .counts {
    .learn-more {
      width: 130px;
    }
  }
  .events-inner-box {
    h3 {
      width: 80%;
    }
  }
  .newsletter {
    &::before {
      transform: translate(111px,31px);
    }
  }

  // .donation-banner-image {
  //   height: 70dvh;
  // }
  .donation-child-text-box {
    // padding-left: 6%;
  }
  .donations-box {
    gap: 70px;
  }
}
