@use "../base/base" as *;
@use "../base/mixins" as *;

// Responsive for Tablet.
@media screen and (max-width: 992px) {
  .container {
    max-width: 650px;
  }

  .primary-navbar {
    padding: 10px 0;
    justify-content: space-between;
  }
  @include nav-slider;
  .logo {
    height: 38px;
    text-align: center;
  }
  .nav-contact {
    display: none;
  }
  .menu-items {
    ul {
      left: 37%;
    }
  }
  .banner-text-box {
    height: 84%;
  }
  .banner-inner-text {
    width: 54%;
    .get-started {
      width: 40%;
      margin-top: 20px;
    }
    
    p {
      padding-bottom: 12px;
    }
  }

  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
  h2 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  p{
    font-size: 12px;
    line-height: 20px;
  }
  .get-started {
    width: 44%;
    padding: 5px 4px;
    font-size: 12px;
  }
  .services {
    padding: 52px 72px
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 28px;
  }
  .services-inner-item-box {
    padding: 0 56px;
    h4 {
      padding-bottom: 12px;
    }
    p {
      padding-bottom: 14px;
    }
    a {
      font-size: 14px;
    }
  }
  .services--children {
    .container {
      flex-wrap: wrap;
    }
  }
  .side-image {
    width: 100%;

    img {
      width: 100%;
    }
  }
  .blogs-wrap {
    margin-bottom: 120px;
  }
  .blogs-box {
    justify-content: center;
    gap: 130px;
  }
  .counts {
    .learn-more {
      padding: 16px 32px;
      width: 54%;
    }
  }
  .clients a{
    padding-bottom: 10px;
  }


  .testimonials-wrap {
    margin: 72px 0;
  }
  .testimonials-inner {
    padding: 26px 24px;
    gap: 20px;

    h2 {
      width: 90%;
      padding: 42px 17px;
    }
  }
  .card-deck {
    // width: 96%;
    .slick-track {
      height: 400px;
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .card-inner {
    width: 500px;
    justify-content: center;

    &::before {
      width: 500px;
    }
  }
  .card-inner-box {
    .get-started {
      width: 54%;
    }
  }
  .person {
    gap: 5px;
    border-right: none;
    img {
      height: 56px;
      width: 56px;
    }
  }

  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  .clients img {
    height: 80px;
    width: 80px;
  }
  .other-details {
    padding-top: 16px;
    padding-bottom: 12px;
    justify-content: flex-start;
    gap: 100px;
  }
  .publication-date {
    font-size: 18px;
  }

  .contactus {
    gap: 14px;
    padding: 80px 50px;
    margin: 16px 0;
  }

  .our-events {
    justify-content: center;
    gap: 40px;
  }

  .social-icons {
    padding-top: 10px;
    width: 70%;
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .branding {
    width: 50%;
  }
  .pages {
    width: 50%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 50%;
  }
  .footer-contact {
    width: 50%;
  }
  .newsletter {
    margin-left: 0;
    // width: 60%;
  }

  .footer-region {
    justify-content: center;
    margin-top: 80px;
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }
}


@media screen and (max-width: 768px) {
  @include nav-slider;

  .hero-banner {
    height: calc(100dvh - 68px);
  }
  .footer-region {
    flex-wrap: nowrap;
    gap: 10px;
  }
}