@use "../base/mixins" as *;
@use "../base/variables" as *;

.blogs-header {
  margin-top: 40px;
  padding-left: 58px;
  position: relative;

  img {
    position: absolute;
    top: 23px;
    left: 30px;
  }

  &::before {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 50px;
    margin: 0 1rem;
    left: 144px;
    transform: translate(-86px,15px);
  }

  h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    padding: 12px 0;
    padding-top: 24px;
  }
}

.blogs-wrap {
  h2 {
    margin-left: 58px;
    padding: 30px 0;
  }
}

.blogs-box {
  // gap: 82px;
  margin-bottom: 32px;
  justify-content: flex-start;
}

.blogs-inner-box {
  width: 406px;
  justify-content: flex-start;
  justify-content: left;
  text-align: left;
  padding: 18px;
}
.other-details {
  padding-top: 32px;
  padding-bottom: 20px;
  gap: 64px;
}

.blogs-inner-box:last-child {
  padding-bottom: 0px;
}

.blogs-image {
  position: relative;
  height: 370px;
  width: 370px;
  margin-bottom: 20px;

  img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 100%;
  }
}
.blog-info {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #FCF5E8;
  margin: 0 6px;
  position: absolute;
  bottom: -112px;
  left: 24px;
  right: 24px;

  a {
    color: white;
    padding: 16px 32px;
    background: $foundation-primary-red;
    font-weight: 700;
    width: 52%;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: Roboto;
  }
}
.blogs-info-inner-box {
  padding: 10px 25px;
  gap: 12px;
}
.details {
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 38px;
  padding: 0 10px;
}
.details-inner-box {
  gap: 10px;
  flex-wrap: nowrap;
}
.blogs-category {
  position: absolute;
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  bottom: 20px;
  left: 10px;
  padding: 8px;
}
.blogs-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}
.publication-date {
  font-size: 14px;
  // line-height: 24px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: absolute;
  color: white;
  background: $foundation-primary-orange;
  bottom: 110px;
  right: 30px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  // width: 50px;
  text-align: center;
  font-size: medium;
  font-weight: 800;
  display: grid;
  span {
    font-size: 40px;
    font-family: Roboto-medium;
    font-variant: small-caps;
    line-height: 48px;
  }
}

