.client-header {
  margin: 50px 0;
  text-transform: uppercase;
  h5 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    
    span {
      color: #1D2130;
      width: 18%;
      letter-spacing: 2px;
      font-family: 'Roboto-medium';
      font-weight: 500;
    }
  
    &:after {
        display: inline-block;
        content: "";
        border-top: 0.5px solid #E5E5E5;
        width: 100%;
    }
  }
}

.clients-wrap {
  gap: 108px;
  margin: 10% 0;
}
.clients {
  align-items: center;

  img {
    object-fit: contain;
  }
}

.clients a:hover {
  transition: 0.5s all ease-in-out;
  transform: scale(1.3);
}