.projects-wrap {
  margin: 30px 0;
  // margin-bottom: 60px;
  overflow-x: hidden;
}
.projects-inner {
  gap: 20px;
  .slick-slide {
    margin: 0 10px !important;
  }
  .slick-list {
      margin: 0 -10px !important;
  }
  // .slick-dots {
  //   bottom: -10px;
  // }
}
.projects-header {
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-left: 56px;

  &::before {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 40px;
    margin: 0 1rem;
    left: 144px;
    transform: translate(-70px,13px);
  }

  // h5 {
  //   display: flex;
  //   flex-grow: 1;
  //   align-items: center;
  
  //   span {
  //     width: 14%;
  //   }
  
  //   &:after {
  //       display: inline-block;
  //       content: "";
  //       border-top: 0.5px solid black;
  //       width: 100%;
  //   }
  // }
}
.project-heading {
    width: 52%;
    padding: 26px 0;
    padding-left: 60px;
}
.projects-cards-wrap {
  // gap: 20px;
  // flex-wrap: nowrap;
  // overflow-x: hidden;
  // .slick-dots {
  //   // bottom: -20;
  //   // margin: -80px 0 !important;
  //   // padding-bottom: -80px;
  // }

  .arrow-right {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 10px;
    z-index: 1000;
    top: 50%;
  }
  .arrow-left {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 10px;
    z-index: 1000;
    top: 50%;
  }
  .arrow-left, .arrow-right {
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
.projects-cards-wrap .card {
  border-radius: 20px;
  // width: 478px !important;
}
.projects-cards-wrap .card-inner-box {
  padding: 50px;
  gap: 20px;
}
// .card {
// }
.card1 {
  background: linear-gradient(90deg, rgba(11, 11, 11, 0.6)), url("../../assets/images/image1.webp");
  background-repeat: no-repeat;
  background-position: center;
  // width: 478px;
}
.card2 {
  background: linear-gradient(90deg, rgba(11, 11, 11, 0.6)), url("../../assets/images/image4.webp");
  background-position: center;
  background-repeat: no-repeat;
  // width: 478px;
}
.card3 {
  background: linear-gradient(90deg, rgba(11, 11, 11, 0.6)), url("../../assets/images/image3.webp");
  background-position: center;
  background-repeat: no-repeat;
  // width: 478px;
}
.card-inner-box {
  h4, p {
    color: white;
    font-weight: 900;
  }
  h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    width: 82%;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .get-started {
    margin-top: 70px;
    padding: 16px 34px;
    background: white;
    color: black;
    width: 50%;
  }
}