.services {
  padding: 86px 0;
}
.services-item-box {
  text-align: center;
}
.services-inner-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 80px;
  transition: box-shadow .7s;
  border-bottom: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 0 11px white; 


  h4 {
    font-family: 'Roboto-medium';
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  p {
    text-align: center;
  }

  a {
    font-size: 18px;
    font-weight: 600;

    svg {
      width: 16px;
      height: 12px;
      flex-shrink: 0;
    }
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border-radius: 4px;
    background: white;
    h4 {
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
  }
}
