.testimonials-wrap {
  margin: 150px 0;
  background: url("../../assets/images/testimonialbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonials-inner {
  padding: 48px 24px;
  gap: 36px;

  h2 {
    padding: 12px 0px;
    width: 44%;
    padding-bottom: 100px;
    margin-left: 38px;
  }
}
.testimonials-header {
  margin-top: 40px;
  padding-left: 58px;

  &::before {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 40px;
    margin: 0 1rem;
    left: 144px;
    transform: translate(-70px,13px);
  }
}

.card-deck {
  gap: 20px;
}
.slick-slide {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
.slick-dots {
  margin: -20px 0 !important;
}
.card {
  // background: #fff;
  // border-radius: 36px;
  p {
    text-align: left;
  }
}
.card-inner {
  position: relative;
  display: flex;
  padding: 54px 30px;
  align-items: center;
  margin: 28px;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 750px;
  background: #fff;
  box-shadow: 10px 10px 5px rgb(227, 225, 225);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-bottom: 84px;
  gap: 10px;

  &::before {
    content: "";
    display: block;
    border: 0.7px solid #F5936F;
    width: 750px;
    position: absolute;
    z-index: -10;
    left: -18px;
    top: 40px;
    bottom: -31px;
    padding: 22px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}
.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 30%;
  border-right: 1px solid rgb(166, 166, 166);
  padding-right: 10px;

  img {
    border-radius: 10px;
    height: 100px;
    width: 100px;
  }
}
.personal-details {
  p {
    font-size: 16px;
  }
}
.testimonial {
  width: 80%;
  // border-left: 1px solid rgb(166, 166, 166);
  // padding-left: 20px;
}
